* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Fredericka the Great', cursive;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-nav {
  width: 100%;
  height: 100%;
  padding: 2.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hamburger-menu {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #eee;
  border-radius: .4rem;
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.hamburger-menu:hover {
  box-shadow:
    inset .5rem .5rem 1rem #cacaca,
    inset -.5rem -.5rem 1rem #fff;
}

.bar {
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  position: relative;
  transition: background-color .5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #333;
  transition: all .5s;
}

.bar::before {
  top: -.8rem;
}

.bar::after {
  top: .8rem;
}

.open .bar {
  background-color: transparent;
}

.open .bar::before {
  top: 0;
  transform: rotate(135deg);
}

.open .bar::after {
  top: 0;
  transform: rotate(-135deg);
}

.nav-list {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: -.5rem 0 1rem rgba(0, 0, 0, .1);
  z-index: 1500;
  transition: transform .5s;
  padding-top: 150px;
  padding-bottom: 150px;
  opacity: 0.8;
}

.open .nav-list {
  transform: translateX(0);
}

.nav-link {
  list-style: none;
  border-bottom: 2px solid #819df4;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  padding: .5rem;
  transition: color .5s;
}

.nav-link:hover {
  color: #819df4;
}

.happy-birthday {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url('images/background.jpg');
}

.shaped-box {
  margin-top: -100px;
  width: 70%;
  height: 60%;
  padding: 5% 5%;
  background-color: #b7472a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  opacity: 0;
}

.textbox {
  width: 50%;
  height: 80%;
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
}


.four {
  font-family: 'Codystar', cursive;
  font-size: 4rem;
  margin-left: -10%;
}

.two{
  margin-left: 20%;
}
.three {
  font-size: 6rem;
  margin-left: 60%;
  font-family: 'Fredericka the Great', cursive;
}

.image img{
  height: 260px;
}

.animation img {
  height: 270px;
  width: auto;
  position: absolute;
  margin-top: -300px;
  margin-left: -320px;
}

.letter{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
background: url('https://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_blue_1920x1234.jpg');
  object-fit: fill;

}
.letter-square {
  background-color: white;
  width: 50%;
  height: 80%;
  padding: 2% 5%;
  line-height: 2;
  margin-top: 5%;
}

.letter span {
  font-size: 2rem;
  float: right;
}

.gallery {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url('https://blog.hostbaby.com/wp-content/uploads/2013/07/scuffedstatic_blue_1920x1234.jpg');
  opacity: 0.8;
  padding-top: 3%;
}

.gallery-title h1{
  font-family: 'Codystar', cursive;
  text-align: center;
  color: white;
  font-size: 3.5rem;
}

#image {
  height: 500px;
  /* width: 100%; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 4rem auto;
  background-color: black;

}
